h1{
    text-align: center;
    text-decoration:overline;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 52pt;
}
body{
    background-color: violet;

}
blockquote{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    text-decoration:wavy;
}
a{
    color: black;
}
img{
    border: 8px;
    color: black;

}